
.images {
    position: relative;
    height: 500px;
    width: 400px;
    margin: 0 auto;
}


div.images img#biohazard {
    position: absolute;
    left: 0px;
    top: 30px;
}

div.images img#biohazard:hover {
    z-index: 1;
}

div.images img#Man {
     position: absolute;
     left: 180px;
     top: 30px;
}

div.images img#Man:hover {
    z-index: 1;
}

div.images img#smoking {
     position: absolute;
     left: 70px;
     top: 70px;
}

div.images img#Yin {
     position: absolute;
     left: 100px;
     top: 220px;
}

div.images img#Yin:hover {
    z-index: 1;
}


 