* {
    box-sizing: border-box;
}

.wrapper {
    font-family: sans-serif;
    text-align: center;
    padding: 35px;
  }

  .header {
      margin-bottom: 30px;
  }
  
  h1 {
    width: 350px;
    margin: 0 auto;
  }

  h2 {
      text-transform: uppercase;
      font-size: 18px;
  }
  
  .blocks {
    display: flex;
    flex-direction: column;
  }
  
  .block {
    padding: 40px 25px;
    background-color: rgb(253, 215, 144);
    border-radius: 15px;
    margin-bottom: 10px;
  }
  
  .icon {
    height: 45px;
    border-radius: 5px;
    width: 50px;
    background-color: white;
    color:rgb(252, 185, 61);
    padding-top: 7px;
  }

  .button {
    height: 40px;
    width: 170px;
    color: white;
    border: none;
    background-color: black;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 5px;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 40px;
  }
  
  @media (min-width: 600px) {
    .blocks {
      flex-direction: row;
      justify-content: space-between;
    }
    .block {
      flex-basis: 27%;
    }
  }