* {
    box-sizing: border-box;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 50px 200px 50px;
    grid-template-areas: ". header"
      "sidebar content"
      "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .element {
    color: white;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px 10px;
  }
  
  .g1, .g4 {
     background-color: gray;
  }
  
  .g2, .g3 {
     background-color: black;
  }
  
  .g1 {
    grid-area: header;
  }
  
  .g2 {
    grid-area: sidebar;
  }
  
  .g3 {
    grid-area: content;
  }
  
  .g4 {
    grid-area: footer;
  }
  
  p {
    margin-top: 0;
  }