* {
    box-sizing: border-box;
}

p.body_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

header.header {
    background-image: url(/project/assets/images/image_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register {
    padding-top: 15px;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 11px;
}

.icon {
    font-size: 18px;
    flex-basis: 25%;
}

.working_hours {
    display: flex;
    flex-basis: 30%;
}

.call {
    display: flex;
    flex-basis: 30%;
}

.appointment {
    display: none;
}

.header .head_info h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.head_info h1{
    margin-top: 50px;
}

.head_info .appointment {
    display: block;
    margin-top: 40px;
}

.head_info .appointment  .button{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.register .fas, .far {
    color: #F2726F;
    padding-top: 5px;;
}

.register p {
   padding-left: 10px;
}

.naming {
    text-transform: uppercase;
}

.button {
    font-size: 11px;
    cursor: pointer;
    padding-top: 7px;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #F2726F;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border: none;
}


.navbar a {
    padding-left: 10px !important;
    color: white;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgba(227, 235, 241, .4);
}

.btn_nav:focus {
    border: none;
    box-shadow: none;
}

.nav_form {
    background-color: rgba(227, 235, 241, .4);
    border: none;
}

.nav_form:focus {
    background-color: rgba(227, 235, 241, .4);
    border: none;
    box-shadow: none;
}

.form_search {
    position: relative;
}

.btn_search {
    background-color: white;
    border: none;
    font-weight: lighter;
    position: absolute;
    top: 5px;
    right: 8px;
}

.btn_search::before {  
        color: #F9F0DA;
        font-size: 20px;
        font-weight: bold;  
}

.about {
    position: relative;
    padding: 60px 50px;
    display: block;
    min-height: 450px;
    color: white;
    background-color: #5D62B5; 
}

section.about {
    margin-bottom: -60px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.add_info_about {
    padding-bottom: 10px;
    width: 75%;
    margin: 0 auto;
}

.dog_center {
    position: relative;
    height: 200px;
    width: 350px;
    margin: 0 auto;
}

div.dog_center img#dog {
    position: absolute;
    width: 350px;
}

.overline {
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
}
.overline::before {
    font-family: "Font Awesome 5 free"; 
	font-weight: 900;
	content: "\f101   ";
}

h2 {
    font-weight: bold;
}

.about h2 {
    margin-bottom: 50px;
}

.add_info_about {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.impact {
    position: relative;
    padding: 20px 5px;
    min-height: 100px;
    background-color: #29C3BE;
    color: white;
}

.impact_items {
    padding: 10px 5px;
    flex-wrap: wrap;
}

.impact_item img {
    width: 35px;
}

.impact_item {
    flex-wrap: wrap;
}

.impact_item p {
    color: #5D62B5;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

.number {
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

.info_box img {
    width: 50px;
    float: left;
    margin-right: 15px;
}

.info_box p {
    padding-left: 65px;
}

 h3 {
    color:#F2726F;
    font-size: 20px;
    font-weight: 600;
    padding-left: 65px;
}

footer .icon {
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 24px;
}

.footer_info { 
    justify-content: space-between;
    align-items: top;
    padding: 10px;
    font-size: 14px;
}

 .s_media .fab, .contact .fas {
    padding-top: 3px;
    color: #F2726F;  
}

.s_media {
    border-bottom: 1px solid #5D62B5;
    padding-bottom: 20px;
}

.links {
    border-bottom: 1px solid #5D62B5;
}

footer .naming{
    font-weight: 500;
}

.links ul{
    list-style-type: none;
    padding: 10px 0px;
}

.links li {
    display: inline;
    margin-right: 20px;
}

.links li a{
    color: black;
    text-decoration: none;
}

.bottom {
    display: block;
    font-size: 12px;
    height: 50px;
    color: white;
    padding: 12px 10px;
    text-align: right;
    background-color: #5D62B5;
}


@media (min-width: 660px) {
    .appointment {
        display: inline;
        flex-basis: 25%;
    }

    .register {
        height: ;
    }

    .nav_form {
        background-color: white;
    }

    .navbar a:hover {
        color: black;
        background: none;
    }

    .nav_panel {
        background-color: white;
        border-radius: 10px;
        padding-left: 15px;
        justify-content: space-between;
        font-weight: 600;
    }

    .nav_items {
        display: flex;
        justify-content: space-between;
    }

    header.header {
        display: block;
        height: 500px;
    }

    .head_info .appointment  .button {
        border-radius: 5px;
    }

    .register, .navbar, .head_info {
        width: 75%;
        margin: 0 auto;
    }

    section.about {
        margin: -60px auto;
        width: 75%;
        border-radius: 25px;
    }

    .dog_center {
        height: 350px;
        width: 600px;
    }
    
    div.dog_center img#dog {
        width: 600px;
    }
    
    .about::after {
       position: absolute;
       right: -10%;
       top: -30%;
       content: url(/project/assets/images/Stylize\ Circles.png);
    }

    .add_info_about {
       padding-bottom: 100px;
       width: 75%;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
    }

    .head_infobox {
       flex-basis: 100%;
    }

    .info_box {
       margin-top: 40px;
       flex-basis: 30%;
    }

    section.impact::after {
       border-radius: 25px;
       position: absolute;
       right: 150px;
       top: -100px;
       content: url(/project/assets/images/pup300.png);
    }

    .impact_info {
       width: 75%;
       margin: 0 auto;
    }

    .impact_items {
       padding-top: 40px;
    }

    .impact_item img {
       padding-top: 5px;
       width: 55px;
    }

    .number {
       font-size: 30px;
    }

    footer {
    justify-content: space-between;
    background-color: #F5F5F5;
     }

    .footer_info {
    padding: 100px 0px;
    margin: 0 auto;
    width: 75%;
    }

    .links ul{
    column-count: 2;
    }

    .links li{
    display: block;
    }

    .s_media, .links {
    border: none;
    }

    section.impact {
    padding: 100px 0px;
    min-height: 350px;
    }
 
}