@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@keyframes pictureAnimation {
    
    50% {
        transform: scale(1.2);
    }
    to {
        transform: rotate(0deg)
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 238, 210);
}


div.page > div {
    background-color: white;
    position: absolute;
    display: block;
    border: solid 1px gray;
    box-shadow: 0 4px 5px gray;
    width: 200px;
    height: 300px;
}

div.page > div:hover {
    z-index: 2;
    animation: pictureAnimation 2s infinite;
}



.text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 12px;
}

.page {
    position: relative;
    height: 500px;
    width: 800px;
    margin: 0 auto;
}

.foto1 {
    left: 0px;
    top: 250px;
    -webkit-transform: scale(1.0) rotate(-20deg)
}

.foto2 {
    left: 150px;
    top: 230px;
    -webkit-transform: scale(0.9) rotate(9deg)
}
.foto3 {
    left: 300px;
    top: 300px;
    -webkit-transform: scale(0.6) rotate(-4deg);
}

.foto4 {
    left: 450px;
    top: 280px;
    -webkit-transform: scale(0.8) rotate(12deg);
}

.foto5 {
    left: 600px;
    top: 200px;
    -webkit-transform: scale(0.8) rotate(15deg);
}

.foto6 {
    left: 20px;
    top: 100px;
    -webkit-transform: scale(0.8) rotate(5deg);
}

.foto7 {
    left: 150px;
    top: 100px;
    -webkit-transform: scale(0.6) rotate(-3deg);
}

.foto8 {
    left: 300px;
    top: 130px;
    -webkit-transform: scale(0.7) rotate(-10deg);
}

.foto9 {
    left: 450px;
    top: 130px;
    -webkit-transform: scale(0.9) rotate(5deg);
}

.foto10 {
    left: 550px;
    top: 300px;
    -webkit-transform: scale(0.6) rotate(-5deg);
}

.foto11 {
    left: 240px;
    top: 50px;
    -webkit-transform: scale(0.5) rotate(-15deg);
}

.foto12 {
    left: 370px;
    top: 370px;
    -webkit-transform: scale(0.4) rotate(5deg);
}
.foto13 {
    left: 550px;
    top: 100px;
    -webkit-transform: scale(0.3) rotate(-10deg);
}

.foto14 {
    left: 200px;
    top: 360px;
    -webkit-transform: scale(0.6) rotate(15deg);
}

img {
    width: inherit;
    height: inherit;
    padding: 12px 12px 50px 12px;
}

.name {
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
    box-shadow: 0 3px 5px black;
    border: solid 1px gray;
    padding: 15px 20px;
    display: inline-block;
    height: 60px;
    width: 400px;
    left: 200px;
    top: 350px;
    background-color: white;
    position: absolute;
    text-align: center;
}

.and {
    font-family: 'Lobster', cursive;
    text-decoration: underline dotted;
}